.profile-container {
    padding-top: 36px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

#profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile {
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#profile-info {
    color: rgb(36, 119, 60);
    display: flex;
    justify-content: space-between;
}

.profile-stat {
    font-weight: 700;
}

#profile-info {
    display: flex;
    gap: 5px;
}

#profile-info>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-stat-name {
    color: gray;
    font-size: 13px;
}

#logout-button {
    background-color: inherit;
    color: white;
    border: 1px solid;
    border-radius: 30px;
    padding: 7px 14px;
}

img {
    height: 100%;
    width: 100%;
}