.top-tracks {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 32px 128px;
}

.top-tracks > .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    gap: 16px;
}

.filter {
    color: gray;
    user-select: none;
    cursor: pointer;
}

.filter-selected {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.top-tracks-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 16px;
}