.recent {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 100%;

    height: 100%;
    max-height: 100%;
}

.recent > .container {
    display: flex;
    flex-direction: column;

    width: 1000px;
    max-width: 1000px;

    max-height: 100%;
    padding: 16px;
}

.container > .wrapper {
    flex: 1;
}

.recent-track-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    padding-right: 16px;
    
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    padding-bottom: 32px;
}

.recent-track-list > p {
    color: grey;
}