.navigation {
    width: 80px;
    max-width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 16px 0px;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.navigation img {
    height: 40px;
    width: 40px;
}

.pages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-icon {
    display: block;
}

@media screen and (max-width: 769px) {
    .nav-icon {
        display: none;
    }

    .navigation {
        width: 100%;
        max-width: 100%;
        height: 80px;
        max-height: 80px;
        padding: 0px;
    }

    .pages {
        flex-direction: row;
    }
}