.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-spotify);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}