.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
    color: var(--color-spotify);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading h3 {
    width: 100px;
}