.tab {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.selected {
    background-color: #181818;
    border-left: 6px solid #37b854;    
}

.tab img {
    width: 30px;
    height: 30px;
    background-color: gray;
}